/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */
.customcss-1 {

color: #FFFFFF;

text-align: LEFT;

font-style: BOLD;

text-decoration: underline #FFFFFF;

}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;;
	color: #202030;
	background-color: #7F6C82;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #BB1627;
	color:white;
}

.resume-main {
	background-color: #F2C6E9;
}

.resume-aside {
	background-color: #58A9C6;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #FFFFFF;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
	color: #FFFFFF
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
